.center {
    /* margin: auto;
    width: 50%;
    border: 1px solid rgb(186, 192, 186); */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
  }

  body{
    background: url("https://i.redd.it/f1bnt5oh3rt61.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1{
    color:rgb(216, 145, 249);
    font-family: 'Archivo', sans-serif;
    text-shadow: 2px 2px #e7b7fa;
    font-size: 50px;
  }